<% hidden_div_if(@cart.items.empty?, :id => "cart" ) do %>
  <%= render(:partial => "cart" , :object => @cart) %>
<% end %>

<h1>Каталог детских товаров</h1>
<% for sub in @subcategories -%>
<div class='product'>
  <h4><%=h sub.name %></h4>
  <%= link_to image_tag(sub.photo.url(:medium)), :controller=>:shop, :action => :products_by_subcategory, :id => sub.id %>
  
<br />	
</div>
<% end %>
